numpy==1.26.4
fastapi
uvicorn
loguru
pydantic
torch==2.3.0
torchvision==0.18.0
transformers==4.38.2
sentence-transformers
azure-ai-inference
pypdf
langchain-community
langchain-openai
langchain
azure-storage-blob
chromadb
openai
langgraph 
